@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Cairo', sans-serif;
    @apply bg-slate-100 text-slate-900;
  }
}